<div class="agencies-container">
  <app-agencies-header [title]="'Detalle de Agencia'"></app-agencies-header>
  <section class="section-form">
    <form [formGroup]="presenter.form">

      <div class="form-group d-firts-inputs">
        <label for="agencia">Agencia</label>
        <input type="text" class="form-control" name="agencia" formControlName="agencia" placeholder="Agencia">
      </div>

      <div class="form-group d-inputs">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" name="agencia" formControlName="direccion" placeholder="Dirección">
      </div>

      <div class="form-group d-inputs">
        <label for="distrito">Distrito</label>
        <input type="text" class="form-control" name="agencia" formControlName="distrito" placeholder="Distrito">
      </div>

      <div class="form-group d-inputs">
        <label for="latitud">Latitud</label>
        <input type="text" class="form-control" name="latitud" formControlName="lat" placeholder="Latitud">
      </div>

      <div class="form-group d-inputs" style="margin-bottom: 30px;">
        <label for="longitud">Longitud</label>
        <input type="text" class="form-control" name="longitud" formControlName="lon" placeholder="Latitud">
      </div>
      <div class="section-button">
        <button type="button" class="btn btn-secondary" style="margin-right: 10px;" (click)="return()">Volver</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Actualizar</button>
      </div>
    </form>
  </section>
</div>
<app-footer></app-footer>
