.container-item-agencies {
  background-color: white;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  border-bottom: 1px solid #CAC9D3;
  height: 7rem;

  .group-items {
    display: flex;

    .icon-item {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 10px;
    }

    .info-items {
      margin: 12px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item-one {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
      }

      .item-two {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2px;
        font-size: 15px;

      }

      .item-three {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin-top: 2px;
      }
    }
  }

  .d-optional {
    padding: 10px;
    margin: 10px;
  }
}
